<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Centros de Custos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/centro-de-custos">Centro de Custos</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/admin/centro-de-custos/create" class="btn btn-success">Cadastrar Centro de Custos</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Centro de Custos</th>
                    <th style="text-align: center;">Tipo de C.C.</th>
                    <th style="text-align: center;">Data Criação</th>
                    <th style="width: 140px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$centro_de_custos"}
                  <tr>
                    <td>{$value.id_centro_de_custo}</td>
                    <td>{$value.centro_de_custo}</td>
                    <td style="text-align: center;">{if="$value.tipo_movimento == 'S'"}<span class="fa fa-minus" style="color: red;"> Saída</span>{/if}{if="$value.tipo_movimento == 'E'"}<span class="fa fa-plus" style="color: green;"> Entrada</span>{/if}</td>
                    <td style="text-align: center;">{$value.data_cri}</td>
                    <td>
                      <a href="/admin/centro-de-custos/{$value.id_centro_de_custo}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/admin/centro-de-custos/{$value.id_centro_de_custo}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->